:root {
  --mono: "Roboto Mono", monospace;
  --sans: "Roboto", sans-serif;
  --white: #f7f8fa;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  background-color: #69013b;
  font-family: var(--sans);
}

p {
  font-size: 1.3rem;
}

h1 {
  font-size: 3.5rem;
  margin-bottom: 1rem;
  color: #250317;
}

p,
h1 {
  text-align: center;
}

.container {
  max-width: 400px;
  margin: 0 auto;
  padding: 1em;
  background-color: #fbe0d1;
  border-radius: 6px;
  min-height: 60vh;
}

form {
  width: 100%;
  margin: 0 auto;
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 0.5rem;
  margin-bottom: 2rem;
}

.form-group {
  border: 1px solid black;
  max-width: 100%;
  margin: -1px;
  padding: 0;
  background-color: rgba(0, 0, 0, 0.2);
  border-radius: 4px;
  box-shadow: rgba(0, 0, 0, 0.15) 1.95px 1.95px 2.6px;
}

input {
  font-family: var(--mono);
  letter-spacing: -1px;
}

input:focus {
  outline: none;
}

.form-group:focus-within {
  border: 2px solid #69013b;
  margin: -2px;
}

form input,
form button {
  padding: 0.5rem;
  font-size: 1.35rem;
  margin: 0;
  border: none;
  background: none;
  color: #69013b;
}

form button {
  font-size: 2rem;
}

form button {
  cursor: pointer;
}

form button:hover {
  background-color: #69013b;
  color: var(--white);
}

.todos-list-item {
  display: flex;
  justify-content: space-between;
  font-size: 1.4rem;
  background-color: #69013b;
  color: var(--white);
  list-style: none;
  padding: 0.5em;
  margin: 0.5em auto;
  border-radius: 4px;
  box-shadow: rgba(0, 0, 0, 0.4) 2px 2px 3px;
}

.icon-group {
  display: flex;
  margin-left: 0.75rem;
}

.icon-group i {
  align-items: baseline;
}

.icon-group i:hover {
  cursor: pointer;
}

.delete {
  margin-left: 1rem;
}

.complete {
  text-decoration-line: line-through;
  text-decoration-thickness: 2px;
}

.hide {
  display: none;
}
